.btnContainer{
  display: flex;
  height: 3.5rem;
  justify-content: center;
  padding:10px;
}

.btn{
  width: 9rem;
  padding:8px 12px; 
  background-color: #95C178;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1em;
  transition: ease-in-out 0.2s;
}

.btn:hover{
  background-color: transparent;
  border: 6px solid #95C178;
  cursor: pointer;
  transform: scale(1.02);
}


.toast{
  background-color: white;
  border:6px solid rgb(105, 4, 4);
  border-radius: 3px;
  color: black;
  padding:10px;
  position: absolute;
}