.bookSection{
  padding:10px;
}

.cardContainer{
  border:3px solid #361C07;
  border-radius: 2rem;
  width: 23rem;
  padding:1rem;
  display: flex;
  flex-direction: column;
  p{
    line-height: 0;
  }
}

.title{
  color:black;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.bookInfo{
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #361C07;
}

.toast{
  color: black;
  background-color:#95c178b6;
  border-radius:10px;
  font-weight: 500;
  width: 15rem;
  padding:10px;
  text-align: center;
  position: absolute;
}