.nav{
  background-color:#d5c6bc;
  height: 20vh;
  border-bottom:4px solid #3F220B;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color:black;
}

.title{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.linkContainer{
  width: 20rem;
  padding:10px;
  display: flex;
  justify-content: space-between;
}

.navLink{
  text-decoration: none;
  font-weight: 500;
  transition: ease 0.3ms;
  cursor: pointer;
}
.navLink:hover{
  transform: scale(1.05);
  text-decoration: underline;
}

.burgerMenu{
  display: none;
}

@media (max-width: 768px){
  .linkContainer{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 7.5rem;
    right: 0.5rem;
    background-color: #d5c6bc;
    border-radius:5px;
    border: 4px solid #3F220B;
    padding:1rem;
    transition:0.4s ease;
  }

  .linkContainer.open{
    display: flex;
    transform: translateY(0);
  }

  .burgerMenu{
    display: block;
    cursor: pointer;
    position: relative;
  }
}
